



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

/* .page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-bottom: 24px;
  padding-top: 24px;
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-sekond-color {
  color: var(--navyblue, #2e2f42);
}


.menu-link {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
  position: relative;
  color: #2E2F42;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-main-link{
  color: #404bbf;
}

.menu-main-link::after{
  box-sizing: border-box;
  display: flex;  
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}


.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:hover {
  color: #404bbf;
}


.contacts {
  font-style: normal;
}

.contacts-link {
  color: var(--slate, #434455);
  font-family: Roboto;
 .contacts-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
} font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:focus {
  color: #404bbf;
}

 */
/* main */

/* section 1 hero */

.hero {
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70)), url(./images/people-office.jpg);
}

.hero-text {
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
  color: var(--white, #fff);

  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
}
.hero-button:focus {
  background-color: #404bbf;
}

/* section 2 featurs */

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100%-3 * 24px) / 4);
}

.features-item-head {
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.features-item-text {
  color: var(--slate, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}

/* section 3 team */



.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-heading {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-item-head {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.team-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}
.team-item-text {
  color: var(--slate, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-image{
  width: 100%;
}

.team-item-social{
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
  
}

.team-item-social-icon{
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.social-link:hover, .social-link:focus{
  background-color: #404bbf;
}

.social-icon{
  fill: #f4f4fd;
}

.worker {
  padding: 32px 0;
}

/* section 4 portfolio */

.portfolio {
  background: #fff;
  padding: 120px 0 120px 0;
}

.card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-heading {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

  margin: 0;
  padding-left: 0;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img{
    width: 100%;
}

.portfolio-list-heading {
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: var(--slate, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.potfolio-img-container{
  position: relative;
  overflow: hidden;
  
}

.portfolio-list-item:hover .text-overflow {
  transform: translateY(0%);
 }


.text-overflow{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  /* height: 360px;
  width: 300px; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* footer */

.footer-container{
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}


.footer-text-container{
  margin-right: 120px;
}

.footer-social-container{

}

.page-footer {
  background: var(--navyblue, #2e2f42);
  padding: 100px 0;
}

.footer-link {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--cloud, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}

.footer-logo-sekond-color {
  color: var(--cloud, #f4f4fd);
}

.footer-social-text{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-item-social{
  display: flex;
  gap: 16px;
}

.footer-item-social-icon{
  width: 40px;
  height: 40px;
}

.footer-social-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus{
  background-color: #31d0aa;
}

.footer-social-icon{
  fill: #f4f4fd;
}

.footer-form-text{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form{
  display: flex;
  gap: 24px;
}

.footer-form-input{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent; 
  font-size: 12px;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-btn{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff ;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}

.footer-button-icon{
  margin-left: 16px;
  fill: #FFFFFF;
}

.form-container{
  margin-left: 80px;
}

/* BACKDROP */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));

  opacity: 0%;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 24;
  border-radius: 4px;
  background: var(--DAIRY, #FCFCFC);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}


.close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  stroke: #2E2F42;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  stroke: #4D5AE5;
  background-color: #404bbf;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus .close-btn-icon {
  fill: #ffffff;
}

.modal-text{
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.review-form-field-wrapper{
  margin-bottom: 8px;
}

.textarea-div{
  margin-bottom: 16px;
}

.review-form-field-label{
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper{
  position: relative;
}

.review-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus{
  border-color: #4D5AE5;
}



.modal-form-field-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.review-form-field-wrapper:hover .modal-form-field-icon {
  fill: #4D5AE5;
}

.review-form-input:focus + .modal-form-field-icon {
  fill: #4D5AE5;
}

.text-area{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent; 
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4D5AE5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.text-area:focus{
  border-color: #4D5AE5;
}

.checkbox-container{
  margin-bottom: 24px;
}

.checkbox-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.review-form-privacy-link{
  color: #4d5ae5;
}

.review-form-submit{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none; 
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-left: auto;
}

input:checked + label > span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration-line: underline;
}